*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
    --ff-primary: "Source Sans Pro", sans-serif;
    --ff-secondary: "Source Code Pro", monospace;
  
    --fw-reg: 300;
    --fw-bold: 900;
  
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent1: darkslategray;
    --clr-accent2: #a8dadc;
    --clr-accent3: #f1faee;
  
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    --fs-logo: 3.5rem;
  
  /* box shadow props */
  
    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
      0.125em 00.125em 00.25em rgba(0, 0, 0, 0.15);
  }
  
  @media (min-width: 800px) {
    :root {
      --fs-h1: 4.5rem;
      --fs-h2: 3.75rem;
      --fs-h3: 1.5rem;
      --fs-body: 1.125rem;
      --fs-logo: 4rem;
    }
  }

/* general styles */

html {
  scroll-behavior: smooth;
}

body {
    background-color: var(--clr-dark);

}

  /* buttons */


  /* typography */

  h1,
  h2,
  h3 {
    line-height: 1;
    margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

  /* body sections */

  /* header / nav */

#navbar {
    background-color: var(--clr-accent1);
    color: var(--clr-accent3);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 2rem;
    margin: 0;
}
.nav-link {
    color: inherit;
    text-decoration: none;
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    margin: 0 2rem;
}

/* welcome-section / about */

#welcome-section {
    color: var(--clr-accent3);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-title {
  padding: 10rem 0 3rem 0;
}

/* projects / work */

#projects {
    background-color: var(--clr-accent2);
    /* height: 1000px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-tile {
  margin: 0 auto 1rem;
  font-size: var(--fs-h3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.project-link img {
  margin: 1rem  0 0 0;
  min-width: 150px;
  max-width: 350px;
  box-shadow: var(--bs);
}

/* profile / contact */

#profile {
  margin: 2rem;
  display: flex;
  justify-content: space-between;
  ;
}

.profile-link {
  font-family: var(--ff-secondary);
  color: var(--clr-accent3);
  text-decoration: none;
  font-size: var(--fs-h3);
  font-weight: var(--fw-reg);
  margin: 0 2rem;
}

/* footer */

footer {
  border-top: 5px var(--clr-accent1) solid;
  margin: 2rem 0;
  color: var(--clr-accent3);
  text-decoration: none;
  font-family: var(--ff-secondary);
  font-size: var(--fs-body);
  font-weight: var(--fw-reg);
  text-align: center;
}



